#itinerary-section .position-relative .translate-middle-y {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    top: 0;
    bottom: 0;
}

#itinerary-section .position-relative .rounded-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    font-size: 1.15rem;
    background: #fff;
    color: #1080f2;
    border: 4px solid #1080f2;
    box-shadow: 0 2px 8px 0 rgba(16, 128, 242, 0.10);
}

section[id$='-section'] {
    scroll-margin-top: 1rem;
}

#itinerary-section .position-absolute.top-0.start-0.bottom-0 {
    z-index: 0;
}

#itinerary-section .position-relative>.position-absolute {
    z-index: 1;
}

.custom-carousel {
    width: 100%;
    height: 60vh;
    min-height: 260px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.10);
    padding: 0;
    background: #fff;
    margin: 24px auto 32px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-carousel-img {
    object-fit: cover;
    border-radius: 20px;
    width: 100%;
    height: 100%;
    display: block;
}

.content.card {
    flex: 0 0 80%;
    min-height: 65vh;
}

.book-info.card {
    flex: 0 0 calc(20% - 1rem);
    min-height: 65vh;
}